<div class="container text-center mt-5">
    <h1>Welcome to TaskBloc</h1>
    <p>This is the homepage of your application. You can add any content you like here, such as product listings, blog posts, or a call to action.</p>
</div>

<div class="container text-center mt-5">
    <a href="/login" class="btn btn-secondary ms-2 me-2">Login</a>
    <a href="/signup" class="btn btn-outline-secondary">Sign Up</a>
</div>